[submodule "nonos-ci"]
	path = nonos-ci
	url = https://github.com/NON-OS/nonos-ci.git
[submodule "nonos-sign"]
	path = nonos-sign
	url = https://github.com/NON-OS/nonos-sign.git
[submodule "nonos-mk"]
	path = nonos-mk
	url = https://github.com/NON-OS/nonos-mk.git
[submodule "nonos-utils"]
	path = nonos-utils
	url = https://github.com/NON-OS/nonos-utils.git
[submodule "nonos-data"]
	path = nonos-data
	url = https://github.com/NON-OS/nonos-trust-keystore.git
[submodule "docs"]
	path = docs
	url = https://github.com/NON-OS/nonos-docs.git
[submodule "assets/wallpapers"]
	path = wallpapers
	url = https://github.com/NON-OS/nonos-wallpapers.git
[submodule "stark-attest"]
	path = stark-attest
	url = https://github.com/NON-OS/stark-attest.git
